html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

section {
  padding: 20px;
  div {
    min-width: 100px;
    p,
    h3 {
      text-align: center;
    }
    border: 2px solid gray;
  }

  h1 {
    text-align: center;
  }
  h2 {
    text-align: right;
    color: gray;
    span {
      color: green;
    }

  }

}
.main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: none;
}
.priceUP {
  border-color: green;
  color: goldenrod;
}